*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	transition: all .25s;
}

nav{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap:2rem;
    padding: 0 1rem;
    box-shadow: 0 0 20px 0px black; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

button{
    border: 0 ;
    background: 0;
}

body.light{
    color: black;
    background: white;
}

body.dark{
    color: white;
    background: #202020;
}

h1{
    font-weight: 900;
    font-size: 2.5rem;
}

h3{
    font-weight: 500;
    font-size: 2rem;
}

p{
    font-size: 1rem;
}

header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:2rem;
    padding: 0 1rem;
    box-shadow: 0 0 20px 0px black; 
    background: linear-gradient(135deg, hsl(120deg 100% 50% / 25%), hsl(207deg 100% 50% / 25%));
}

.CourseIndex{
    width: 100vw;
    min-height: 100vh;
}
